# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.db
.env
venv/
.venv/

# Node
node_modules/
.next/
out/
.turbo/
dashboard/.next/
dashboard/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

happyrobot_agent_prompt.md
fde_technical_challenge__inbound_carrier_sales.pdf
/deliverables/
